@page "/counter"
@using Aptacode.BlazorCanvas
@using Chip8
@using Chip8.Model
@using Chip8.Web.IO
@using System.Threading.Tasks.Dataflow
@inject IJSRuntime JsRuntime

<PageTitle>Counter</PageTitle>
<aside>
    <a href="https://github.com/Moreno-Gentili/Chip8" target="_blank" rel="noopener" class="github-link" style="text-decoration: none;"><p class="nes-balloon is-dark from-right">Fork me<br>on GitHub</p> <i class="nes-octocat"></i></a>
</aside>
<div style="padding: 1rem 0;">
    <label>
        <input type="radio" class="nes-radio is-dark" name="answer-dark" checked value="crt" @onchange="SetDisplay" />
        <span>CRT</span>
    </label>

    <label>
        <input type="radio" class="nes-radio is-dark" name="answer-dark" value="lcd" @onchange="SetDisplay" />
        <span>LCD</span>
    </label>
</div>
<h1>Chip8</h1>
<button @onclick="ToggleAudio">@audioText</button>
<div>
    <InputFile OnChange="SelectRom" class="btn-primary" />
    <select @onchange="LoadRom">
    @foreach (var entry in roms)
    {
    <option value="@entry.Value">@entry.Key</option>
    }
</select>
<button @onclick="Reset">Reset</button>
</div>
<div id="display">
    <div id="lcd">
    <BlazorCanvas @ref="canvas">
        <canvas width="640" height="320"></canvas>
    </BlazorCanvas>
    </div>
    <div id="crt" hidden="@isCrtHidden"></div>
</div>


@code {
    BlazorCanvas canvas;
    SortedDictionary<string, string> roms = new SortedDictionary<string, string>
    {
        { "", "" },
        { "Breakout", "https://raw.githubusercontent.com/kripod/chip8-roms/master/games/Airplane.ch8" }
    };

    IVirtualMachine vm;
    Cassette cassette;
    Speaker speaker;
    Display display;
    Keyboard keyboard;
    bool hasAudio = false;
    bool isCrtHidden = false;
    string audioText = "Unmute";

    float lastTimestamp = 0;
    private async void ToggleAudio()
    {
        hasAudio = !hasAudio;
        audioText = hasAudio ? "Mute" : "Unmute";
        await JsRuntime.InvokeVoidAsync("toggleAudio", hasAudio);
    }

    private void SetDisplay(ChangeEventArgs args)
    {
        isCrtHidden = args.Value?.ToString() != "crt";
    }

    private async Task LoadRom(ChangeEventArgs args)
    {
        string? rom = args.Value?.ToString();
        if (rom is not null)
        {
            await cassette.Change(rom);
            await Reset();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        cassette = new();
        speaker = new(new ActionBlock<bool>(SetBuzzer));
        display = new(canvas, 640, 320);
        keyboard = new();

        await Reset();

        await JsRuntime.InvokeAsync<object>("initEmulator", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void Cycle(float timeStamp)
    {
        if (!canvas.Ready)
        {
            return;
        }

        vm.Cycle(TimeSpan.FromMilliseconds(timeStamp));
    }

    [JSInvokable]
    public void HandleKeyDown(string key)
    {
        keyboard.HandleKeyDown(key);
    }

    [JSInvokable]
    public void HandleKeyUp(string key)
    {
        keyboard.HandleKeyUp(key);
    }

    public async Task Reset()
    {
        vm = VirtualMachine.Create(cassette, keyboard, display, speaker);
        await SetBuzzer(false);
    }

    public async void SelectRom(InputFileChangeEventArgs e)
    {
        await cassette.Change(e.File.OpenReadStream());
        await Reset();
    }

    private async Task SetBuzzer(bool on)
    {
        await JsRuntime.InvokeVoidAsync(on ? "playAudio" : "stopAudio");
    }
}
