<div id="credits">
    <h3>Credits</h3>

    Chip-8 ROMs are hosted by Revival Studios at their <a href="https://github.com/kripod/chip8-roms" target="_blank">GitHub repo</a>
    <br />
    UI uses 8bit-like <a href="https://nostalgic-css.github.io/NES.css/" target="_blank">NES.css framework</a> by Black Everyday Company
    <br />
    Rendered with high performance <a href="https://github.com/Aptacode/BlazorCanvas" target="_blank">BlazorCanvas</a> wrapper by Aptacode
    <br />
    CRC32 calculation uses <a href="https://github.com/force-net/Crc32.NET" target="_blank">CRC32.NET</a> by force-net
    <br />
    CRT made with <a href="https://threejs.org/" target="_blank">three.js</a> and a fisheye lens by <a href="https://www.decarpentier.nl/lens-distortion" target="_blank">Giliam de Carpentier</a>
    <br />
    YOU, the player!
    <br />
    <br />
    <i class="nes-icon is-large heart"></i>
</div>
