<div id="help-backdrop" hidden="@(!Open)"></div>
<section id="help" class="message-right" hidden="@(!Open)">
    <div class="nes-balloon from-right is-dark">
        <p>Start and play the game with these buttons or press the corresponding keys on keyboard.</p>
        <p>Arrows and space can be used, too!</p>
        <button type="button" class="nes-btn is-success" @onclick="Close">Got it!</button>
    </div>
</section>
@code {
    [Parameter]
    public bool Open { get; set; }

    private void Close()
    {
        Open = false;
    }
}
